/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #FF8DCB;
  --background-url: url('../images/cover-image-light.png');
  --background-color: #FFF1F7;
  --accent-color-transparent: rgba(255, 0, 112, 0.4);
  --title-color: #FFC2E6;
  --text-dark-color: #353430;
  --text-dark-color-transparent: rgba(50, 49, 45, 0.4);
    /* Нужен другой цвет текста */
}

.theme-light .header__corner  {
  border-color: var(--text-dark-color);
  /* Вам также нужно будет написать ряд подобных селекторов */
}

.theme-light .header__rec{
  display: none;
}

.theme-light .header__theme-menu-button{
  color: var(--text-dark-color);
}

.theme-light .header__theme-menu-button:hover {
  border-color: var(--text-dark-color-transparent);
  
}

.theme-light .header__theme-menu-button:focus {
  border-block-end-color: var(--text-dark-color);
}

.theme-light .header__theme-menu-button_active {
  border-color: var(--text-dark-color);
}

.theme-light .section__title {
  color: var(--text-dark-color);
}

.theme-light .topic__text {
  color: var(--text-dark-color);
}

.theme-light .topic__subtitle--type2{
  color: var(--text-dark-color);
}