/* Светлая тема (принудительное переключение) */
:root.theme-light {
  --menu-color: var(--text-dark-color);
  --menu-color-transparent: var(--text-dark-color-transparent);

  --accent-color: #FF8DCB;
  --background-url: url('../images/cover-image-light.png');
  --background-color: #FFF1F7;
  --accent-color-transparent: rgba(255, 0, 112, 0.4);
  --title-color: #FFC2E6;
  --text-dark-color: #353430;
  --text-dark-color-transparent: rgba(50, 49, 45, 0.4);
  --text-main-color: var(--text-dark-color);

  --section-title-color: var(--text-dark-color);
  --topic-text-color: var(--text-dark-color);
  --link-color: var(--text-dark-color);
}

.theme-light .header__rec {
  display: none;
}

/* Поддержка автоматической темы браузера */
@media (prefers-color-scheme: light) {
  :root {
    --menu-color: var(--text-dark-color);
    --menu-color-transparent: var(--text-dark-color-transparent);

    --accent-color: #FF8DCB;
    --background-url: url('../images/cover-image-light.png');
    --background-color: #FFF1F7;
    --accent-color-transparent: rgba(255, 0, 112, 0.4);
    --title-color: #FFC2E6;
    --text-dark-color: #353430;
    --text-dark-color-transparent: rgba(50, 49, 45, 0.4);
    --text-main-color: var(--text-dark-color);

    --section-title-color: var(--text-dark-color);
    --topic-text-color: var(--text-dark-color);
    --link-color: var(--text-dark-color);
  }

  .header__rec {
    display: none;
  }
}