/* Светлая тема (принудительное переключение) */
:root.theme-light {
  --accent-color: #FF8DCB;
  --background-url: url('../images/cover-image-light.png');
  --background-color: #FFF1F7;
  --accent-color-transparent: rgba(255, 0, 112, 0.4);
  --title-color: #FFC2E6;
  --text-dark-color: #353430;
  --text-dark-color-transparent: rgba(50, 49, 45, 0.4);
  --text-main-color: var(--text-dark-color);
}

.theme-light .header__rec {
  display: none;
}

.theme-light .corner {
  border-color: var(--text-dark-color);
}

.theme-light .header__theme-menu-button {
  color: var(--text-dark-color);
}

.theme-light .header__theme-menu-button:hover {
  border-color: var(--text-dark-color-transparent);
}

.theme-light .header__theme-menu-button:focus {
  border-block-end-color: var(--text-dark-color);
}

.theme-light .header__theme-menu-button_active {
  border-color: var(--text-dark-color);
}

.theme-light .section__title,
.theme-light .topic__text,
.theme-light .topic__subtitle--type2 {
  color: var(--text-dark-color);
}

.theme-light  .link-decor::after{
  background-color: var(--accent-color);
}

.theme-light  .link-decor::before{
  border: 1px solid var(--accent-color);
}

/* Поддержка автоматической темы браузера */
@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --background-url: url('../images/cover-image-light.png');
    --background-color: #FFF1F7;
    --accent-color-transparent: rgba(255, 0, 112, 0.4);
    --title-color: #FFC2E6;
    --text-dark-color: #353430;
    --text-dark-color-transparent: rgba(50, 49, 45, 0.4);
  }
}