/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  background-color: var(--background-color);
  margin: auto;
  padding: 10px;
  padding-block-end: 0;
  font-family: 'IBM Plex Mono', monospace;
  background-image: var(--background-url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: min-content 65px min-content 55px min-content 10px;
  gap: 10px;
  row-gap: 0;
  position: relative;
  min-height: 668px;
  height: 100vh;
}

.corner {
  position: absolute;
  width: 24px;
  height: 24px;
  border: 1px solid var(--menu-color);
}

.corner__top-right {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
}

.corner__bottom-left {
  bottom: 20px;
  left: 0;
  border-right: none;
  border-top: none;
}

/* REC */
.header__rec {
  position: absolute;
  right: 12px;
  font-size: 18px;
  font-weight: normal;
  color: var(--menu-color);
}

.header__rec::after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 10px;
  margin-right: -3px;
  margin-bottom: 2px;
  background-color: var(--menu-color);
  box-shadow: 0px 0px 4px 2px var(--menu-color);
  border-radius: 50%;
  animation: blink 1s infinite alternate;
}


.header__theme-menu {
  grid-column: 2 / 3;
  grid-row: 1;
  margin-block-end: 0;
  margin-block-start: 62px;
  padding: 0;
  align-self: start;
}

.header__theme-menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  font-size: 18px;
  font-family: 'IBM Plex Mono', monospace;
  line-height: 18px;
  font-weight: normal;
  text-transform: lowercase;
  background: none;
  border: 1px solid transparent;
  color: var(--menu-color);
  cursor: pointer;
  padding: 3px 13px 4px 13px;
}


.header__theme-menu-button:hover {
  border-color: var(--menu-color-transparent);

}

.header__theme-menu-button:focus {
  border-block-end-color: var(--menu-color);
}

.header__theme-menu-button_active {
  border-color: var(--menu-color);
  pointer-events: none;
}

/* Заголовок */
.header__title {
  grid-column: 1 / -1;
  grid-row: 3;
  font-size: var(--logo-size);
  font-weight: bold;
  line-height: 0.83;
  text-transform: lowercase;
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--title-color);
}

/* Подзаголовок */
.header__subtitle {
  grid-column: 1 / -1;
  grid-row: 5;
  font-family: 'IBM Plex Mono', monospace;
  color: var(--text-dark-color);
  font-size: 18px;
  line-height: 1.46rem;
  font-weight: bold;
  text-align: left;
}

.title-decor {
  background-color: var(--accent-color);
  /* margin-bottom: 57px; */
}

/* Базовый стиль ссылки */
.link-decor {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
  position: relative;
  text-underline-offset: 4px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

/* Подчёркивание через псевдоэлемент */
.link-decor::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--link-color);
  transition: width 0.3s ease-in-out;
  z-index: -1;
}

/* Эффект при наведении */
.link-decor:hover::after {
  width: 100%;
}

/* Эффект фокуса (рамка вокруг текста) */
.link-decor:focus {
  outline: none;
}

/* Псевдоэлемент для рамки при фокусе */
.link-decor::before {
  content: '';
  position: absolute;
  top: 0px;
  left: -2px;
  right: -2px;
  bottom: 0px;
  border: 1px solid var(--link-color);
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: scale(0.9);
  z-index: -1;
}

/* Рамка проявляется при фокусе */
.link-decor:focus::before {
  opacity: 1;
  transform: scale(1);
}

.content{
  top: 0;
  margin: 0;
}

.section {
  margin-block-start: 50px;
}

.section__intro {
  margin-block-start: 30px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.section__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 23.4px;
  text-align: left;
  color: var(--section__title-color);
}

.section__topics {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.topic {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.topic__subtitle {
  font-size: 18px;
  color: var(--text-dark-color);
  line-height: 23.4px;
  font-weight: bold;
}

.topic__text {
  font-size: 18px;
  font-weight: normal;
  line-height: 23.4px;
  text-align: left;
  color: var(--topic__text-color);
}

.section__focus {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.section__tips {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.topic__subtitle--secondary {
  font-size: 18px;
  color: var(--text-dark-color);
  line-height: 23.4px;
  font-weight: normal;
}

.section__gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

/* Изображения в галерее */
.gallery__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.footer {
  margin-block-start: 40px;
  display: grid;
  grid-template-rows: 286px min-content 330px;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 668px;
  height: 100vh;
}

.footer__title {
  font-size: var(--logo-size);
  grid-row: 2;
  font-weight: bold;
  text-transform: lowercase;
  line-height: 0.83;
  text-shadow: 2px 2px 0 var(--accent-color);
  color: var(--title-color);
}

.footer .corner__top-right {
  top: 10px;
}

.footer .corner__bottom-left {
  bottom: 10px;
}

@media (min-width: 768px) {
  .page {
    padding: 20px;
    overflow-x: visible;
  }

  .header {
    min-height: 1024px;
    display: grid;
    grid-template-columns: 1fr minmax(100px, 364px);
    grid-template-rows: min-content 173px min-content 161px min-content;
    row-gap: 0;
  }

  .corner__top-right {
    top: 0;
    right: 0;
    border-left: none;
    border-bottom: none;
  }
  
  .corner__bottom-left {
    bottom: 40px;
    left: 0;
    border-right: none;
    border-top: none;
  }

  .header__theme-menu {
    margin-top: 170px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: end;
    align-self: start;
  }

  .header__theme-menu-list {
    gap: 10px;
  }

  .header__title {
    grid-column: 1 / -1;
    grid-row: 3;
    justify-self: start;
    align-self: start;
    transform: translateX(-20px);
  }

  .header__subtitle {
    grid-column: 2 / 3;
    grid-row: 5;
    justify-self: end;
    align-self: end;
  }

  .section {
    margin-top: 80px;
  }

  .section__intro {
    margin-block-start: 40px;
    grid-template-columns: 236px auto;
  }

  .section__focus {
    grid-template-columns: 236px 1fr;
    grid-template-rows: auto auto;
  }

  .section__focus .section__title {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .section__focus .section__topics {
    grid-column: 1/-1;
    grid-row: 2/3;
  }

  .section__tips {
    grid-template-columns: 236px auto;
  }

  .section__gallery {
    gap: 20px;
  }

  .gallery__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }

  .gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image1 {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .image2 {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .image3 {
    grid-column: 1/2;
    grid-row: 2/4;
  }

  .image4 {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .image5 {
    grid-column: 2/4;
    grid-row: 3/4;
  }

  .footer {
    min-height: 1024px;
    grid-template-rows: 483px min-content;
    justify-content: center;
  }

  .footer .corner__top-right {
    top: 40px;
  }
  
  .footer .corner__bottom-left {
    bottom: 0;
  }
}

@media (min-width: 1024px) {

  .header {
    display: flex;
    flex-direction: column;
    min-height: 768px;
  }

  .header__theme-menu {
    margin-top: 0px;
    align-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
  }

  .header__title {
    font-size: var(--logo-size);
    margin: 272px 0px 114px 00px;
  }

  .header__subtitle {
    max-width: 491px;
    margin-bottom: 115px;
  }

  .section__intro {
    grid-template-columns: 315px auto;
  }

  .section__focus {
    grid-template-columns: 315px 1fr;
    grid-template-rows: auto auto;
  }

  .section__focus .section__topics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .section__tips {
    grid-template-columns:  315px auto;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 768px;
  }

  .footer__title{
    font-size: var(--logo-size);
    margin-block-start: 40px;
  }
}